<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Seja Bem-Vinde ao Meu Blog!</h1>
        </div>

    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores 
                dicta omnis eum nihil, nam quaerat aperiam totam excepturi ab odio 
                velit quod molestiae? Deleniti eum excepturi dicta nobis provident atque!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptas
                voluptatem sunt nemo quisquam pariatur error minus dolor itaque. 
                A sed hic quasi voluptate consectetur quis iure quidem animi dicta?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio officiis rerum
                corrupti maxime quidem itaque saepe, natus tenetur! Repellat ex sint doloribus
                fugit itaque obcaecati beatae magnam eligendi. Eos, expedita?
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o Feed</button>
        </div>
    </div>
