<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75"
            src="https://pbs.twimg.com/media/D-ZaEXoWkAAPC0o.jpg"
            alt="Imagem de capa do card">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center text-monospace">{{nome}}</h5>
        <p class="card-text text-center text-monospace d-flex justify-content-center">Um exemplo de texto rápido pra construí o título do card e fazê preenchê o conteúdo do
            card.</p>
        
            <a href="" class="btn btn-outline-info mb-3 d-flex justify-content-center">LinkedIn</a>
            <a href="https://github.com/yagotonoli" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>